.manage-user-container{
    padding: 20px;
    width: 100%;
    .title{
        font-weight: 600;
        font-size: 22px;
        margin-bottom: 20px;
    }
    .users-content{
        .add-new{
            margin-bottom: 20px;
            button{
                display: flex;
                align-items: center;
                justify-content: space-between;
                span{
                    margin-left: 5px;
                }
            }
            
        }
        .table-user{
            
        }
    }
}
.modal-add-user{
    .password{
        position: relative;
        
        .show-hide-password{
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(-50%,-50%);
            cursor: pointer;
        }
    }
    .upload-file{
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 5px;
        background:whitesmoke;
        width: fit-content;
        padding:2px 8px;
        border-radius: 3px;
        cursor: pointer;
        transition: all .25s;
        margin-bottom: 10px;
        &:hover{
            background:#eeee;
        }
    }
    .preview{
        height: 120px;
        border: 1px dashed #d3d3d3;
        display: flex;
        align-items: center;
        justify-content: center;
        &-image{
            height: 100%;
            width: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        span{
            color: #d3d3d3;
        }
    }
}