.admin-container {
    display: flex;
    .admin-sidebar {
        .pro-sidebar {
            height: 100vh !important;
            }
    }
    .admin-content{
        width: 100%;
        .admin-header{
            font-size: 30px;
            font-weight: 600px;
            padding: 0 20px;
        }
    }
}